<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" /> <!-- button gif -->
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Morbid Curiosity</title>
  <link href="https://fonts.googleapis.com/css?family=Lato|Open+Sans|Raleway|Roboto|Roboto+Mono|Roboto+Slab" rel="stylesheet">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css"> <!-- carousel -->
  <link rel="stylesheet" type="text/css" href="../static/css/style.css">
  <link rel="icon" type="image/png" href="../static/images/health-cross.png">
</head>

<body>
  <!-- navbar -->
  <nav id="navbar">
    <div class="navbar-header">
      <a class="navbar-brand team-name" href="https://morbid-curiosity.herokuapp.com">Morbid Curiosity</a>
    </div>
    <div class="collapse navbar-collapse">
      <ul class="nav navbar-nav navbar-right">
        <li class="menu">
          <a target="#_blank" href="https://github.com/hlbarker2/MorbidCuriosity">
            <img width=25px src="../static/images/Octicons-mark-github.svg">
          </a>
        </li>
      </ul>
    </div>
  </nav>
<!-- block quote -->
  <div class="row">
    <div class="hero text-center">
      <div class="overlay"></div>
      <div class="inner">
        <h1 style="padding-top:50px; margin-top:0px"><span>The Process</span></h1>
        <h3 class="h3-white">Here is the process we went through to make this project.</h3>
      </div>
    </div>
  </div>

  <!-- body content -->
  <div class="container">
    <div class="row whitespace">
      <div class="col-md-9">
        <blockquote class="blockquote">
          <h3 class="mb-0 text-left" style="padding-left: 10px">We are Team Morbid Curiosity. We analyzed United States Mortality and Demographic Data from 2016 to identify patterns 
              in deaths in the United States. Here is some detail about our team's process in gathering, analyzing, and displaying this data.
          </h3>
        </blockquote>
      </div>
      <div class="col-sm-3">
        <div class="well">
          <h4>Meet the Team</h4>
          <div class="row">
            <div class="col-md-6">
              <a role="button" target="#_blank" href="https://www.linkedin.com/in/sarah-fawson-b911b083/" class="btn btn-light" id="sarah" title="Sarah Fawson">
              <img width=40px src="../static/images/sarah-emoji.png">
              </a>
            </div>
            <div class="col-md-6">
              <a role="button" target="#_blank" href="https://www.linkedin.com/in/connorvergara/" class="btn btn-light" id="connor" title="Connor Vergara">
              <img width=40px src="../static/images/connor-emoji.png">
              </a>
            </div>
            <div class="col-md-6">
              <a role="button" target="#_blank" href="https://www.linkedin.com/in/hannah-barker-915a7129/" class="btn btn-light btn-lg" id="hannah" title="Hannah Barker">
              <img width=40px src="../static/images/hannah-emoji.png">
              </a>
            </div>
            <div class="col-md-6">
              <a role="button" target="#_blank" href="https://www.linkedin.com/in/paul-westfall-633a2611/" class="btn btn-light btn-lg" id="paul" title="Paul Westfall">
              <img width=40px src="../static/images/paul-emoji.png">
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
      
    <!-- data context -->
    <h2 class="row whitespace">Data Sources</h2>
    <div class="row whitespace">
      <p>After our team picked our topic and goal, we sought out data to support our goal. Scroll through the following section to read more about the data we found.</p>
      <div class="col-md-6"><br>
        <img class="img-responsive center-block" width= 800px src="../static/images/wondergif.gif">
      </div>
      <div class="col-md-6 text-left">
        <h3>CDC WONDER Data</h3>
        <p>CDC WONDER manages nearly 20 collections of public-use data for U.S. births, deaths, 
          cancer diagnoses, tuberculosis cases, vaccinations, environmental exposures, and population 
          estimates, among many other topics. These data collections are available as online databases, 
          which provide public access to ad-hoc queries, summary statistics, maps, charts, and data extracts.                          
        </p>
      </div>
    </div>
    
    <div class="row whitespace">
      <!-- social vulnerability index-->
      <div class="col-md-6 text-left"><br>
        <h3>Social Vulnerability Index </h3>
        <p>Social vulnerability refers to the resilience of communities when confronted by external stresses 
          on human health, stresses such as natural or human-caused disasters, or disease outbreaks. The 
          degree to which a community exhibits certain social conditions, including high poverty, low 
          percentage of vehicle access, or crowded households, may affect that community’s ability to prevent 
          human suffering and financial loss in the event of disaster.
        </p>
      </div>
      <div class="col-md-6"><br>
        <img class="img-responsive center-block" width= 800px src="../static/images/SVI-chart.PNG">
      </div>
    </div>
    
    <!-- medicare data -->
    <div class="row whitespace">
      <div class="col-md-12 text-left">
        <h3>Medicare Reimbursement</h3>
        <p>Dartmouth Atlas Medicare reimbursement rates are calculated from Medicare claims files from CMS. 
          Fee-for-service patients enrolled in Medicare Parts A and B are included. The rates are adjusted 
          for the age, sex and race of the underlying Medicare population. They are also adjusted for regional 
          differences in prices.
        </p>
      </div>
    </div>
    <div class="row whitespace">
      <div class="col-md-3">
        <img class="img-responsive center-block" width= 150px src="../static/images/time.gif">
      </div>  
      <div class="col-md-9 text-left">
        <h3>Life Expectancy</h3>
        <p>Life expectancy at birth is defined as how long, on average, a newborn can expect to live, 
          if current death rates do not change. However, the actual age-specific death rate of any 
          particular birth cohort cannot be known in advance. If rates are falling, actual life spans 
          will be higher than life expectancy calculated using current death rates. Life expectancy at 
          birth is one of the most frequently used health status indicators. Gains in life expectancy at 
          birth can be attributed to a number of factors, including rising living standards, improved 
          lifestyle and better education, as well as greater access to quality health services.
        </p>
      </div>
    </div>

    <!-- data cleaning -->
    <div class="row whitespace">
      <h2>Data Cleaning</h2>
    </div>

    <div class="row whitespace">
      <div class="col-md-3">
        <h3>1. Cancer</h3>
      </div>
      <div class="col-md-9">
        <img class="img-responsive center-block" width= 600px src="../static/images/cancercode.JPG">
      </div>
    </div>

    <div class="row whitespace">
      <div class="col-md-3">
        <h3>2. Medicare</h3>
      </div>
      <div class="col-md-9">
        <img class="img-responsive center-block" width= 600px src="../static/images/medicare.JPG">
      </div>
    </div>

    <div class="row whitespace">
      <div class="col-md-3">
        <h3>3. Life Expectancy</h3> 
      </div>     
      <div class="col-md-9">
        <img class="img-responsive center-block" width= 600px src="../static/images/lifeexpect.JPG">
      </div>
    </div>

    <div class="row whitespace">
      <div class="col-md-3">
        <h3>4. Deaths</h3> 
      </div>
      <div class="col-md-9">
        <img class="img-responsive center-block" width= 600px src="../static/images/masterdeath.JPG">
      </div>
    </div>

    <div class="row whitespace">
      <div class="col-md-3">
        <h3>5. GeoJson</h3> 
      </div>
      <div class="col-md-9">
        <img class="img-responsive center-block" width= 600px src="../static/images/geoJSONcode.JPG">
      </div>
    </div>

    <!-- AWS -->
    <div class="row whitespace">
      <h2>Database Setup</h2>        
      <div class="col-md-12">
        <h3>Paul had some issues with AWS...</h3>
        <img class="img-responsive center-block" id="bigpic" src="bigpic" style="display:none;" />
        <button onclick="picture()">LE SIGH</button>
      </div>
    </div>

    <!-- Leaflet & GeoJson -->
    <h2 class="row whitespace">Leaflet & GeoJson</h2>
    <div class="row whitespace">
      <div class="col-md-6">
        <p>To begin, we searched the web for US county geojson and found a complete set in a <a href="https://github.com/yooper/open-model/tree/master/geodata/geojson/united_states" target="_blank">public repository</a>. 
        We then injected the death data into the "properties" key for each feature within the geojson using the code shown above. <a href="https://leafletjs.com/" target="_blank">Leaflet</a> was then used to create the base map and add the counties as features.
        Lastly, we used the <a href="https://github.com/timwis/leaflet-choropleth" target="_blank">choropleth function</a> to render different colors for each county based on the selected values of disease, popluation, and Medicare spending per enrollee.</p>
      </div>
      <div class="col-md-6">
        <img class="img-responsive center-block" width= 600px src="../static/images/MapProgression.gif"><br>
      </div>
    </div>

    <div class="row whitespace">
      <div class="col-md-6">
            <img class="img-responsive center-block" width= 600px src="../static/images/MapCode.png"><br>
            </div>
      <div style="padding-left:50" class="col-md-6">
        <p> The first step in building the map in javascript included adding each county from the geojson to the base tile layer.
          To recreate the map after different selections are made, we placed an event listener on each dropdown that called a redraw function any time one of the three selections were changed. 
          This redraw function clears the existing map, reads the selected values of the dropdowns, and pushes an updated data set to the choropleth function for final rendering.
        </p>
      </div>
    </div>

    <div class="row whitespace">
      <div class="col-md-6">
        <p>To improve the responsiveness of the map, we read the local geojson upon the loading of the page and saved the response to a variable in the browser window.
           This significantly reduces the time to rebuild the map when any of the selections are changed. 
           Another challenge involved adding a dynamic legend. 
           As shown to the right, the colors for the “Life Expectancy” selection are reversed both on the map and on the legend. 
           This was achieved through a conditional if statement on the selected disease that switched the colors on the choropleth function. </p>
      </div>
      <div class="col-md-6">
        <img class="img-responsive center-block" width= 600px src="../static/images/reverse_chloro.gif"><br>
      </div>
    </div>
    
    <hr>
    
    <!-- bar charts -->
    <div class="row whitespace">
      <h2>Statistical Testing</h2>
      <div class="row whitespace">
        <div class="col-md-12">
          <img class="img-responsive center-block" src="../static/images/H-JupyterCode.png">
        </div>
      </div>
      <div class="row whitespace">
        <div class="col-md-6">
          <img class="img-responsive center-block" width=400px src="../static/images/H-Chart.png">
          </p>
        </div> 
        <div class="col-md-6">
          <h3>Output</h3>
          <p class="text-left">
            We initially used SciPy and the Spearman’s rank correlation coefficient to 
            test for correlation between mortality rate per county and each of the columns in the SVI dataset. 
            Unfortunately, the results from our statistical test were not exciting – morality is strongly 
            correlated with being above age 65. We then used SciPy and the Spearman’s coefficient to test for 
            correlation between life expectancy rate per county and each of the columns in the SVI dataset. 
            Here, we found that the overall SVI score, socioeconomic status (RPL Themes 1) and household 
            composition (RPL Themes 2) had strong correlations with life expectancy.
          </p>
        </div>
      </div>
      <div class="row whitespace">
        <div class="col-md-6">
          <h3>Plotting in JavaScript</h3>
          <p class="text-left">
            We then created a scatter plot using Plotly JS, Flask and the SVI dataset 
            loaded to AWS. We used the update method and custom buttons function to create an interactive 
            plot which compares each of the five SVI themes to life expectancy in 500 counties randomly 
            selected from the table containing the SVI data.
        </div>
        <div class="col-md-6">
            <img class="img-responsive" width=400px src="../static/images/H-VSCode.png">
        </div>
      </div>
    </div>

    <!-- radar and line charts -->
    <h2 class="row whitespace">Mortality Trends by Demographic Comparisons</h2>
    <div class="row whitespace">
      <div class="col-md-6">
          <p class="text-left">Here we aimed to convey the differences that demographic factors had on 
            mortality rates in the US. We used 
            <a
            target="#_blank" 
            href="https://www.chartjs.org/docs/latest/"
            class="card-link">Charts.js
          </a> 
           to make a radar and bar chart to convey this. Charts.js has pretty good documentation to set 
          up any kind of interactive JavaScript chart you want. We chose to compare male and female mortality 
          rates in a radar chart and mortality by city type in a bar chart because there was a dramatic difference in mortality 
          rates between people who live in rural vs. metro areas. We pulled data from the python flask endpoints into the javascript 
          file to build the chart. <br><br> If we had more time, we would have explored many 
          more factors and their impacts on mortality rates. Some other ideas would be: above vs. below the poverty line or
          healthcare spend.
        </p>
      </div>
      <div class="col-md-6">
        <img class="img-responsive right-block" src="../static/images/S-VSCode.PNG">
      </div>
    </div>

    <!-- Web Design -->
    <div class="whitespace">
      <h2>HTML/CSS</h2>
    </div>
    <div class="row whitespace">
      <div class="col-md-6">
        <h3>Editing Bootstrap CSS is like...</h3>
        <img class="img-responsive left-block" src="https://media.giphy.com/media/l4FGqDtRMMjOKdFGU/giphy.gif">
      </div>
      <div class="col-md-6">
        <p class="text-left">The HTML/CSS set-up was a lot of trial and error. I sketched out the idea before starting then attempted 
          to mimic the idea and build from there. There are many things that we tried that you do not 
          see here because they didn't work out! Some areas explored were: sticky navbar, SVG animation, H1 text animation. Some new 
          things we tried and were successful at were: PNG linking to sites (Github and Linkedin Profiles), opaque color overlayed 
          on jumbotron background image, image carousel, inputting GIFs, a marquee, optimizing chart styling and having consistent 
          spacing and coloring throughout.
        </p>
      </div>
    </div>
    <div class="row whitespace">
      <h3>Sketch for v1 of the website</h3>
      <img class="img-responsive center-block" width =400px src="../static/images/project3-sketch.jpg">
    </div>

    <div class="whitespace">
      <h2>Machine Learning</h2>
      <div class="row whitespace">
          <div class="col-md-12">
            <img class="img-responsive center-block" id="bigpic2" src="bigpic2" style="display:none;" />
            <button onclick="picture2()">Preprocess!</button><br>
            <img class="img-responsive center-block" id="bigpic3" src="bigpic3" style="display:none;" />
            <button onclick="picture3()">Calculate!</button><br>
            <img class="img-responsive center-block" id="bigpic4" src="bigpic4" style="display:none;" />
            <button onclick="picture4()">Predict!</button><br>           
          </div>
            <div class="col-md-12">
            <video width="920" height="460" controls=''>
                <source src="../static/images/RIPcode.mp4" type="video/mp4">
                
              Your browser does not support the video tag.
              </video> 
            </div>


      </div>


    <!-- Thank you -->
    <div class="row whitespace">
      <h2>Thank You!</h2>
    </div>

    <!-- carousel -->
    <div class="row whitespace">
      <div class="col-md-3"></div>
      <div class="col-md-6">
        <div id="myCarousel" class="carousel slide" data-ride="carousel" data-interval=false>
          <!-- Indicators -->
          <ol class="carousel-indicators">
            <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
            <li data-target="#myCarousel" data-slide-to="1"></li>
            <li data-target="#myCarousel" data-slide-to="2"></li>      
          </ol>
          <!-- Wrapper for slides -->
          <div class="carousel-inner" role="listbox">
            <div class="item active">
              <img src="../static/images/rod.jpg" alt="Chania" width="400">
              <div class="carousel-caption">
                <h3></h3>
                <p></p>
              </div>
            </div>
            <div class="item">
              <img src="../static/images/jisan.jpg" alt="Chania" width="400">
              <div class="carousel-caption">
                <h3></h3>
                <p></p>
              </div>
            </div>
            <div class="item">
              <img src="../static/images/dart.jpg" alt="Flower" width="400">
              <div class="carousel-caption">
                <h3></h3>
                <p></p>
              </div>
            </div>
          </div>
          <!-- Left and right controls -->
          <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
          </a>
          <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
          </a>
        </div>
      </div>
      <div class="col-md-3"></div>
    </div>
  </div>

  <!-- nyan cat -->
  <marquee behavior="scroll" direction="right" scrollamount="30">
    <img src="http://media.giphy.com/media/sIIhZliB2McAo/giphy.gif" width="100" alt="NYAN" />
  </marquee>
  
  <div class="footer"> Brought to you by Team Morbid Curiosity in the 2019 GW Analytics & Visualization Bootcamp.</div>

  <!-- scripts -->
  <script src="https://cdn.plot.ly/plotly-1.31.2.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/5.5.0/d3.js"></script> <!-- chart.js -->
  <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
  <script type="text/javascript">

    function picture(){ 
    var pic = "../static/images/paulshell.gif"
    document.getElementById('bigpic').src = pic.replace('90x90', '225x225');
    document.getElementById('bigpic').style.display='block';
    }
    
    function picture2(){ 
      var pic = "../static/images/paulsad.jpg"
      document.getElementById('bigpic2').src = pic.replace('90x90', '225x225');
      document.getElementById('bigpic2').style.display='block';      
        }

    function picture3(){ 
      var pic = "../static/images/paulwut.jpg"
      document.getElementById('bigpic3').src = pic.replace('90x90', '225x225');
      document.getElementById('bigpic3').style.display='block';      
    }

    function picture4(){ 
      var pic = "../static/images/paulangry.jpg"
      document.getElementById('bigpic4').src = pic.replace('90x90', '225x225');
      document.getElementById('bigpic4').style.display='block';      
    }
  </script> <!-- gif button -->
  <script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script> <!-- carousel -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script> <!-- carousel -->

  <!-- <script src="{{ url_for('static', filename='js/app.js') }}"></script> -->
</body>

</html>
