<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Morbid Curiosity</title>
  <link href="https://fonts.googleapis.com/css?family=Lato|Open+Sans|Raleway|Roboto|Roboto+Mono|Roboto+Slab" rel="stylesheet">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="../static/css/style.css">
  <link rel="icon" type="image/png" href="../static/images/health-cross.png">
</head>

<body>
  <!-- navbar -->
  <nav id="navbar">
    <div class="navbar-header">
      <a class="navbar-brand team-name" href="https://morbid-curiosity.herokuapp.com">Morbid Curiosity</a>
    </div>
    <div class="collapse navbar-collapse">
      <ul class="nav navbar-nav navbar-right">
        <li class="menu">
          <a target="#_blank" href="https://github.com/hlbarker2/MorbidCuriosity">
            <img width=25px src="../static/images/Octicons-mark-github.svg">
          </a>
        </li>
      </ul>
    </div>
  </nav>

  <div class="row">
    <div class="hero text-center">
      <div class="overlay"></div>
      <div class="inner">
        <h1 style="padding-top:50px; margin-top:0px"><span>The Process</span></h1>
        <h3 class="h3-white">Here is the process we went through to make this project.</h3>
      </div>
    </div>
  </div>

    <div class="container">
      <div class="row whitespace">
        <div class="col-md-12">
          <blockquote class="blockquote">
            <h3 class="mb-0 text-left" style="padding-left: 10px">We are Team Morbid Curiosity. Our goal is to analyze United States Mortality and Demographic Data to identify patterns 
                in deaths in the United States. The hope with this project is that it sheds light on areas of concern in the United States 
                that can be addressed by public health professionals to help Americans live longer and healthier lives.
            </h3>
          </blockquote>
        </div>
      </div>
      <hr>
      
      <!-- data cleaning -->
      <!-- <h2 class="row whitespace">Data Cleaning & JSONifying</h2>
      <div class="row whitespace">
        <div class="col-md-8">
          <img class="img-responsive center-block" width= 800px src="../static/images/code-screenshot.PNG">
        </div>
        <div class="col-md-4 text-left">
          <p>Explainer about the data cleaning and JSON challenges will fit right here</p>
        </div>
      </div> -->

      <!-- database setup -->
      <div class="row whitespace">
        <h2>Database Setup</h2>
      </div>
      <div class="row whitespace">
        <div class="col-md-12" style="align-content: center">
          <img width=60px src="../static/images/h-overit.png">
          <img width=60px src="../static/images/p-overit.png">
          <img width=60px src="../static/images/s-confused.png">
          <img width=60px src="../static/images/c-confused.png">
        </div>
      </div>
      
<!-- data cleaning -->
<h2 class="row whitespace">Data Sources</h2>
<div class="row whitespace">
  <div class="col-md-8"><br>
    <img class="img-responsive center-block" width= 800px src="../static/images/wondergif.gif">
  </div>
  <div class="col-md-4 text-left">
    <p><h2>CDC WONDER manages nearly 20 collections of public-use data for U.S. births, deaths, cancer diagnoses, tuberculosis cases, vaccinations, environmental exposures, and population estimates, among many other topics.
         These data collections are available as online databases, which provide public access to ad-hoc queries, summary statistics, maps, charts, and data extracts.</h2>                            
    </p></div>

    <div class="col-md-8"><br>
      <img class="img-responsive center-block" width= 800px src="../static/images/svidata.JPG">
    </div><br>
    <div class="col-md-4 text-left"><br>
    <p><h2>Social Vulnerability Index: Social vulnerability refers to the resilience of communities when confronted by external stresses on human health, stresses such 
        as natural or human-caused disasters, or disease outbreaks. The degree to which a community exhibits certain social conditions, including high poverty, low percentage of vehicle access, or crowded households, may affect that community’s ability to prevent human suffering and financial loss in the event of disaster.
          </p></div>
  <div class="col-md-6"><br>
      <img class="img-responsive center-block" width= 600px src="../static/images/dartmouth.JPG">
    </div><br>
    <div class="col-md-6 text-left"><br>
    <p><h2>Medicare Reimbursement Data: Dartmouth Atlas Medicare reimbursement rates are calculated from Medicare claims files from CMS. Fee-for-service patients enrolled in Medicare Parts A and B are included. The rates are adjusted for the age, sex and race of the underlying Medicare population. They are also adjusted for regional differences in prices.
          
          
      </p></div>

      
            <div class="col-md-5 text-left"><br>
            <p><h2>Life Expectancy: Life expectancy at birth is defined as how long, on average, a newborn can expect to live, if current death rates do not change. However, the actual age-specific death rate of any particular birth cohort cannot be known in advance. If rates are falling, actual life spans will be higher than life expectancy calculated using current death rates. Life expectancy at birth is one of the most frequently used health status indicators. Gains in life expectancy at birth can be attributed to a number of factors, including rising living standards, improved lifestyle and better education, as well as greater access to quality health services.
                 </p></div>
  <div class="col-md-7"><br><br><br>
    <img class="img-responsive center-block" width= 400px src="../static/images/time.gif">
  </div><br>
  <!-- Connor -->
   <div class="col-md-8"><br>
      <img class="img-responsive center-block" width= 800px src="../static/images/FAKKKKEEEE.JPG">
    </div><br>
    <div class="col-md-4 text-left"><br>
    <p><h2>Connor GEOJSON explainer</p></div>



  </div>
</div>


<!-- data cleaning -->
<h2 class="row whitespace">Data Cleaning</h2>
<h3 class="row whitespace">Cancer</h3>
<div class="row whitespace">
  <div class="col-md-12">
      <img class="img-responsive center-block" width= 800px src="../static/images/cancercode.JPG">
  </div>
<h3 class="row whitespace">Medicare</h3>
  <div class="col-md-12">
          <img class="img-responsive center-block" width= 800px src="../static/images/medicare.JPG">
      </div>
<h3 class="row whitespace">Life Expectancy</h3>       
  
  <div class="col-md-12">
          <img class="img-responsive center-block" width= 800px src="../static/images/lifeexpect.JPG">
      </div>

<h3 class="row whitespace">Master Death</h3>        
  <div class="col-md-12">
          <img class="img-responsive center-block" width= 800px src="../static/images/masterdeath.JPG">
      </div>
<!-- Connor -->
<h3 class="row whitespace">GeoJSON </h3>        
  <div class="col-md-12">
          <img class="img-responsive center-block" width= 800px src="../static/images/ffaakkkeee.JPG">
      </div><br>

      <h3 class="row whitespace">Le Sigh</h3>        
      <div class="col-md-12">
              <img class="img-responsive center-block" width= 800px src="../static/images/paulshell.gif">
          </div><br>
          <div class="col-md-12"><br>
            <p><h2>Paul had some issues with AWS.
                 </p></div>
  </div>
      <div class="row whitespace">
        <div class="col-md-8">
          <img class="img-responsive center-block" width= 800px src="../static/images/code-screenshot.PNG">
        </div>
        <div class="col-md-4 text-left">
          <p>Explainer about the data cleaning and JSON challenges will fit right here</p>
        </div>
      </div>

      <!-- USA heat map -->
      <h2 class="row whitespace">Heatmap of Mortality in the US</h2>
      <div class="row whitespace">
        <div class="col-md-4">
          <p>Explainer about the data and visualization will fit right here</p>
        </div>
        <div class="col-md-8">
          <img class="img-responsive center-block" width= 800px src="../static/images/USA-states.PNG"><br>
        </div>
      </div>
      <hr>
      
      <!-- bar charts -->
      <h2 class="row whitespace">Social Vulnerability Index</h2>
      <div class="row">
        <div class="col-md-6">
          <img class="img-responsive" src="../static/images/code-screenshot.PNG">
        </div> 
        <div class="col-md-6">
          <p class="text-left">SVI and Life Expectancy explainer and screenshots.
          </p>
        </div>
      </div>
      <hr>

    <!-- radar charts -->
    <h2 class="row whitespace">Mortality Trends by Demographic Comparisons</h2>
    <div class="row whitespace">
      <div class="col-md-6">
          <p class="text-left">Here we aimed to convey the minor differences that demographic factors had on mortality rates in the US.
            I used charts.js to make a radar and bar chart to convey this. Charts.js has pretty good documentation to set up any kind of interactive JavaScript chart you want.</p>
        </div>
      <div class="col-md-6">
        <img class="img-responsive right-block" src="../static/images/code-screenshot2.PNG">
      </div>
    </div>

      <!-- Web Design -->
    <div class="whitespace">
      <h2>HTML/CSS</h2>
    </div>
    <div class="row whitespace">
        <div class="col-md-6">
          <h3>Editing Bootstrap CSS be like...</h3>
          <img class="img-responsive left-block" src="https://media.giphy.com/media/l4FGqDtRMMjOKdFGU/giphy.gif">
        </div>
        <div class="col-md-6">
        <p class="text-left">The HTML/CSS set-up was a matter of trial and error. </p>
      </div>
    </div>
    <div class="whitespace">
    </div>
  </div>
  

    <!-- Thank you -->
    <div class="whitespace">
      <h2>THANK YOU</h2>
    </div>
    <div class="row whitespace">
        <div class="col-md-12">
        <img class="img-responsive left-block" src="../static/images/rod.jpg">
        </div>
        
        <div class="col-md-12">
        <img class="img-responsive left-block" src="../static/images/jisan.jpg">
        </div><br><br>
           
        <div class="col-md-12">
        <img class="img-responsive left-block" src="../static/images/dart.jpg">
        </div>
    </div>
    <div class="whitespace">
    </div>
  </div>
  

  <div class="footer"> Brought to you by Team Morbid Curiosity in the 2019 GW Analytics & Visualization Bootcamp.</div>

  <script src="https://cdn.plot.ly/plotly-1.31.2.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/5.5.0/d3.js"></script> <!-- chart.js -->
  <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>
  <!-- <script src="{{ url_for('static', filename='js/app.js') }}"></script> -->
</body>

</html>
