<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Morbid Curiosity</title>
  <link href="https://fonts.googleapis.com/css?family=Lato|Open+Sans|Raleway|Roboto|Roboto+Mono|Roboto+Slab" rel="stylesheet">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="../static/css/style.css">
  <!-- <link rel="stylesheet" type="text/css" href="../static/css/style.scss"> -->
  <!-- <link rel="stylesheet" type="text/css" href="../static/css/bootstrap-social.css">
  <link rel="stylesheet" type="text/css" href="../static/css/assets/font-awesome.css"> -->
  <link rel="icon" type="image/png" href="../static/images/health-cross.png">
</head>

<body>
  <!-- navbar -->
  <nav id="navbar">
    <div class="navbar-header">
      <a class="navbar-brand team-name" href="index.html">Morbid Curiosity</a>
    </div>
    <div class="collapse navbar-collapse">
      <ul class="nav navbar-nav navbar-right">
        <li class="menu">
          <a target="#_blank" href="https://github.com/hlbarker2/MorbidCuriosity">
            <img width=25px src="../static/images/Octicons-mark-github.svg">
          </a>
        </li>
      </ul>
    </div>
  </nav>

  <div class="row">
    <div class="hero text-center">
      <div class="overlay"></div>
      <div class="inner">
        <h1 style="padding-top:50px; margin-top:0px"><span>The Process</span></h1>
        <h3 class="h3-white">Here is the process we went through to make this project.</h3>
      </div>
    </div>
  </div>

    <div class="container">
      <div class="row whitespace">
        <div class="col-md-12">
          <blockquote class="blockquote">
            <h3 class="mb-0 text-left" style="padding-left: 10px">We are Team Morbid Curiosity. Our goal is to analyze United States Mortality and Demographic Data to identify patterns 
                in deaths in the United States. The hope with this project is that it sheds light on areas of concern in the United States 
                that can be addressed by public health professionals to help Americans live longer and healthier lives.
            </h3>
          </blockquote>
        </div>
      </div>
      <hr>
      
      <!-- data cleaning -->
      <h2 class="row whitespace">Data Cleaning & JSONifying</h2>
      <div class="row whitespace">
        <div class="col-md-8">
          <img class="img-responsive center-block" width= 800px src="../static/images/code-screenshot.PNG">
        </div>
        <div class="col-md-4 text-left">
          <p>Explainer about the data cleaning and JSON challenges will fit right here</p>
        </div>
      </div>

      <!-- database setup -->
      <div class="row whitespace">
        <h2>Database Setup</h2>
      </div>
      <div class="row whitespace">
        <div class="col-md-12" style="align-content: center">
          <img width=60px src="../static/images/h-overit.png">
          <img width=60px src="../static/images/p-overit.png">
          <img width=60px src="../static/images/s-confused.png">
          <img width=60px src="../static/images/c-confused.png">
        </div>
      </div>
      
      <div class="row whitespace">
        <div class="col-md-8">
          <img class="img-responsive center-block" width= 800px src="../static/images/code-screenshot.PNG">
        </div>
        <div class="col-md-4 text-left">
          <p>Explainer about the data cleaning and JSON challenges will fit right here</p>
        </div>
      </div>

      <!-- USA heat map -->
      <h2 class="row whitespace">Heatmap of Mortality in the US</h2>
      <div class="row whitespace">
        <div class="col-md-4">
          <p>Explainer about the data and visualization will fit right here</p>
        </div>
        <div class="col-md-8">
          <img class="img-responsive center-block" width= 800px src="../static/images/USA-states.PNG"><br>
        </div>
      </div>
      <hr>
      
      <!-- bar charts -->
      <h2 class="row whitespace">Social Vulnerability Index</h2>
      <div class="row">
        <div class="col-md-6">
          <img class="img-responsive" src="../static/images/code-screenshot.PNG">
        </div> 
        <div class="col-md-6">
          <p class="text-left">SVI and Life Expectancy explainer and screenshots.
          </p>
        </div>
      </div>
      <hr>

    <!-- radar charts -->
    <h2 class="row whitespace">Mortality Trends by Demographic Comparisons</h2>
    <div class="row whitespace">
      <div class="col-md-6">
          <p class="text-left">Explainer about radar charts will fit right here. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
        </div>
      <div class="col-md-6">
        <img class="img-responsive right-block" src="../static/images/code-screenshot2.PNG">
      </div>
    </div>

      <!-- Web Design -->
    <div class="whitespace">
      <h2>HTML/CSS</h2>
    </div>
    <div class="row whitespace">
        <div class="col-md-6">
        <img class="img-responsive left-block" src="../static/images/code-screenshot3.PNG">
        </div>
        <div class="col-md-6">
        <p class="text-left">Explainer about HTML/CSS set-up will fit right here. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
      </div>
    </div>
    <div class="whitespace">
    </div>
  </div>
  
  <div class="footer"> Brought to you by Team Morbid Curiosity in the 2019 GW Analytics & Visualization Bootcamp.</div>

  <script src="https://cdn.plot.ly/plotly-1.31.2.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/5.5.0/d3.js"></script> <!-- chart.js -->
  <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>
  <!-- <script src="{{ url_for('static', filename='js/app.js') }}"></script> -->
  <script src="../static/js/app.js"></script> <!-- change this when running through app.py -->
</body>

</html>
