<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Morbid Curiosity</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://unpkg.com/leaflet@1.3.3/dist/leaflet.css" integrity="sha512-Rksm5RenBEKSKFjgI3a41vrjkw4EVPlJ3+OiI65vTjIdo9brlAacEuKOiQ5OFh7cOI1bkDwLqdLw3Zg0cRJAAQ==" crossorigin="" />
  <script src="https://unpkg.com/leaflet@1.3.3/dist/leaflet.js" integrity="sha512-tAGcCfR4Sc5ZP5ZoVz0quoZDYX5aCtEm/eu1KhSLj2c9eFrylXZknQYmxUssFaVJKvvc0dJQixhGjG2yXWiV9Q==" crossorigin=""></script>
  <!-- stylin' -->
  <link rel="stylesheet" type="text/css" href="../static/css/style.css">
  <link rel="stylesheet" type="text/css" href="../static/css/agency.css">
  <!-- Custom fonts for this template -->
  <!-- <link href="../vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css"> -->
  <link href="https://fonts.googleapis.com/css?family=Lato|Open+Sans|Raleway|Roboto|Roboto+Mono|Roboto+Slab" rel="stylesheet">
  <!-- favicon -->
  <link rel="icon" type="image/png" href="../static/images/health-cross.png">
  <!-- sliders -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-slider/10.6.1/css/bootstrap-slider.css">
</head>

<body>
  <!-- navbar -->
  <nav id="navbar">
    <div class="navbar-header">
      <a class="navbar-brand team-name" href="https://morbid-curiosity.herokuapp.com" style="padding-left:25px">Morbid Curiosity</a>
    </div>
    <div class="collapse navbar-collapse">
      <ul class="nav navbar-nav navbar-right">
        <li class="nav-item">
          <a class="nav-link" target="#" href="https://morbid-curiosity.herokuapp.com/process">About</a>
        </li>
        <li class="menu">
          <a target="#_blank" href="https://github.com/hlbarker2/MorbidCuriosity" style="padding-right:20px">
            <img width=25px src="../static/images/Octicons-mark-github.svg">
          </a>
        </li>
      </ul>
    </div>
  </nav>

  <!-- jumbotron & intro -->
  <div class="row">
    <div class="jumbotron text-center">
      <div class="overlay"></div>
      <div class="inner">
        <h1><span>The Social Determinants of Health</span></h1>
        <h3 class="h3-white">Exploring patterns in the causes of disease and death in the United States</h3>
      </div>
    </div>
  </div>

  <!-- Navigation -->
  <section id="services">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 text-center">
          <h2 style="color:whitesmoke" class="section-heading text-uppercase">Navigate</h2>
          <h3 class="section-subheading text-muted">Click on any of the icons below to navigate to the section containing visualizations and more details.</h3>
        </div>
      </div>
      <div class="row text-center">
        <div class="col-md-4">
          <a href="#USAmortality"><img src="../static/images/USA-icon.png" width=180px alt="usa map icon" class="img-fluid"></a>
          <h4 class="service-heading">USA Mortality</h4>
          <p class="text-muted">Check out how mortality rates from diseases affect different areas of the United States.</p>
        </div>
        <div class="col-md-4">
          <a href="#SVI-data"><img src="../static/images/bar-icon.png" width=180px alt="bar graph icon" class="img-fluid"></a>
          <h4 class="service-heading">SVI and Demographic Data</h4>
          <p class="text-muted">Social Vulnerability Index, mortality rates between genders, and mortality rates based on the population of where you live.</p>
        </div>
        <div class="col-md-4">
          <a href="#quiz"><img src="../static/images/quiz-icon.png" width=180px alt="quiz icon" class="img-fluid"></a>
          <h4 class="service-heading">Quiz</h4>
          <p class="text-muted">How old will you live to be? Interact with our sliders to get an estimate based on our data.</p>
        </div>
      </div>
    </div>
  </section>

  <div class="container">
    <!-- USA heat map -->
    <h2 class="row whitespace" id="USAmortality">US Mortality</h2>
    <div class="row whitespace" style="padding-bottom: 0px">
      <div class="col-md-4" id="heatmapSelector1">
        <div align="center" class="form-group">
          <ul class="list-group" id="filters">
            <li class="filter list-group-item">
              <label>Select a Disease:</label><br>
              <select id="disease_type" onchange="rebuildMap()">
                <option value="Total_Death_Rate" selected>Total Death Rate</option>
                <option value="Cancer_Death_Rate">Cancer Death Rate</option>
                <option value="Heart_Death_Rate">Heart Disease Death Rate</option>
                <option value="Stroke_Death_Rate">Stroke Death Rate</option>
                <option value="LowerResp_Death_Rate">Respiratory Disease Death Rate</option>
                <option value="Accident_Death_Rate">Accidents Death Rate</option>
                <option value="Life Expectancy">Life Expectancy</option>
              </select>
            </li>
          </ul>
        </div>  
      </div>
      <div class="col-md-4" id="heatmapSelector2">
        <div align="center" class="form-group">
          <ul class="list-group" id="filters">
            <li class="filter list-group-item">
              <label>Select a Population Size:</label><br>
              <input id="pop_slide" data-slider-id='PopSlider' data-slider-tooltip='show' data-slider-handle="round" type="text" class="span2" value="" data-slider-min="0" data-slider-max="100000" data-slider-step="5000" data-slider-ticks="[0, 20000, 40000, 60000, 80000, 100000]" data-slider-ticks-labels='["0", "20K", "40K", "60K", "80K", "100K+"]' data-slider-ticks-snap-bounds="2500" data-slider-value="[0,100000]"/>
            </li>
          </ul>
        </div>  
      </div>
      <div class="col-md-4" id="heatmapSelector3">
        <div align="center" class="form-group">
          <ul class="list-group" id="filters">
            <li class="filter list-group-item">
              <label>Select Medicare Spending per Enrollee:</label><br>
              <input id="spend_slide" data-slider-id='SpendSlider' data-slider-tooltip='show' data-slider-handle="round"type="text" class="span2" value="" data-slider-min="4000" data-slider-max="15000" data-slider-step="1000" data-slider-ticks="[5000, 7000, 9000, 11000, 13000, 15000]" data-slider-ticks-labels='["$5K", "$7K", "$9K", "$11K", "$13K", "$15K+"]' data-slider-ticks-snap-bounds="250" data-slider-value="[0,15000]"/>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="row whitespace" style="padding-top: -150px">
      <div class="col-md-12">

        <div id="heatmap" style="height: 650px;" ></div>

        <p>Where are the most and least deadly places in the country? Use the filters above to explore the relationship between county population sizes, Medicare spending per enrollee, and the death rates for various diseases.
        <br><i>*Counties with incomplete data were not included on the map</i>
        </p>
      </div>
    </div>
  </div>

  <!-- bar charts -->
  <section class="bg-light" id="SVI-data" style="padding: 20px">
    <div class="container">
      <div class="row whitespace">
      <h2>Social Vulnerability Index & Life Expectancy</h2>
      <div class="row" style="padding-top: 25px">
        <div class="col-md-12">
          <div id="bar"></div>
        </div>
      </div>
        <div class="row whitespace">
        <div class="col-md-12 text-left">
          <p class="text-left">Social vulnerability is a term that refers to the resilience of individuals 
            and communities when confronted by external stresses on human health, such as natural disasters, 
            poverty, or disease outbreaks. The CDC's 
            <a
              target="#_blank" 
              href="https://svi.cdc.gov/"
              class="card-link">Social Vulnerability Index
            </a> 
            (SVI) uses 15 different U.S. census variables to compute the scoring.
            <br><br>
            What you see in these graphs is that socioeconomic status, household composition and the overall 
            SVI score can be reliable indicators of life expectancy in the United States.
          </p>
        </div> 
      </div>
    </div>
  </section>
     
  <!-- radar charts -->
  <div class="container">
    <h2 class="whitespace">Mortality Trends by Demographic Comparisons</h2>
    <div class="row whitespace">
      <div class="col-md-6">
        <canvas id="radar" width="250" height="250"></canvas>
      </div>
      <div class="col-md-6">
        <h3>How Do Diseases Affect Women vs. Men?</h3>
        <p>There is not a huge difference in deaths based on the gender of the individual. One of the largest 
          disparities is that men have a higher percentage of deaths through an accidents (7.4%) as compared 
          to women (4.3%). Men also are more likely to have heart disease, but actually less likely to have a 
          stroke than a woman.
      </p>
      </div>
    </div>
    <div class="row whitespace">
      <div class="col-md-6">
        <h3>Live Close to Your Neighbor</h3>
        <p>There is a drastic difference in mortality rates based on the population of the area someone lives.
          Generally, the smaller the population, the higher the mortality rate of a region. This could be due to 
          multiple factors, such as proximity to a hospital or healthcare provider, standard of living based on 
          economic opportunities, or other cultural or livelihood factors.
        </p>
        <h3>Metro Sizes</h3>
        <p><strong>Large Central Metro:</strong>
            Over 1,000,000 people in the Metropolitan Statistical Area (MSA)<br>
            <strong>Large Fringe Metro:</strong>
            Over 1,000,000 people outside MSA boundaries<br>
            <strong>Medium Metro:</strong>
            250,000 – 999,999 people<br>
            <strong>Small Metro:</strong>
            50,000 - 250,000 people<br>
            <strong> Micropolitan (Nonmetro):</strong>
            10,000–49,999 people<br>
            <strong>NonCore (Nonmetro):</strong>
            Less than 10,000 people
          </p>
      </div>
      <div class="col-md-6">
        <canvas id="barGraph" width="300" height="250"></canvas>
      </div>
    </div>
  </div>

  <!-- quiz section -->
  <section class="bg-light" id="quiz" style="padding: 20px">
    <div class="container">
      <div class="row whitespace">
        <h2>How Long Will You Live?</h2>
      </div>
      <div>
        <div class="row whitespace">
          <p class="text-center">See the stats about where you live, and what your life expectancy is estimated to be based on CDC data. 
            <br>
            After you enter a zip code, the county's statistical data for that zip code will be returned.</p>
        </div>
      </div>
      <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-6">
          <h3 class="text-left">Enter Your Zip Code:
            <div class="input-group">
              <input type="text" minlength="5" maxlength="5" id="zipcode" value="22201">
              <span class="input-group-btn">
                <button value="Enter" id="enterZip" onclick="buildMetadata()">Search</button>
              </span>
            </div>
          </h3>
        </div>
        <div class="col-md-3"></div>
      </div>
      <div class="wrapper">
        <div class="flexbox">
          <div class="box">
            <div id="income-gauge" class="gauge"></div>
            <div type="textbox" id="income-text" class="info-box"></div>
          </div>
          <div class="box">
            <div id="life-gauge" class="gauge"></div>
            <div type="textbox" id="life-text" class="info-box"></div>
          </div>
          <div class="box">
            <div id="edu-gauge" class="gauge"></div>
            <div type="textbox" id="edu-text" class="info-box"></div>
          </div>
        </div>
      </div>
      <hr>

      <!-- sliders section -->
      <div class="row whitespace">
      <h2>See What Factors Impact Life Expectancy</h2>
      </div>
      <p class ="text-center">Adjust the sliders below to see how different factors impact life expectancy according to national trends.</p>
      <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-4">
          <div class="slidecontainer">
            <h3>Per Capita Income</h3>
            <input class="slider" id="PCI" 
              type="range" min="5000" max="80000" step="1" value="25000" oninput="outputUpdate(this.value)">                        
            <output for="PCI" id="pciOUT"> 25,000 </output>
          </div>
        </div>
        <div class="col-md-4">
          <div class="slidecontainer">
            <h3>% of Population in Poverty</h3>
            <input class="slider" id="Pov" 
            type="range" min="0.5" max="55" step="0.1" value="17" oninput="outputUpdate2(this.value)">                        
            <output for="Pov" id="PovOUT"> 17 </output> 
          </div>
        </div>
        <div class="col-md-2"></div>
      </div>
      <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-4">
          <div class="slidecontainer">
            <h3>% of Population With a Disability</h3>
            <input class="slider" id="Disable" 
            type="range" min="2" max="40" step="0.1" value="15" oninput="outputUpdate3(this.value)">                        
            <output for="Disable" id="disableOUT"> 15 </output>
          </div> 
        </div>
        <div class="col-md-4">
          <div class="slidecontainer">
            <h3>% of Population Without High School Diploma</h3>
            <input class="slider" id="NoHigh" 
            type="range" min="0.5" max="55" step="0.1" value="15" oninput="outputUpdate4(this.value)">                        
            <output for="NoHigh" id="nohighOUT"> 15 </output> 
          </div>
        </div>
        <div class="col-md-2"></div>
      </div>

      <h5 id="Total">Life Expectancy = 77.76 years</h5>
      <script>
        function outputUpdate(pciOUT) {
        document.querySelector('#pciOUT').value = pciOUT;
        CHPS()
        }

        function outputUpdate2(povOUT) {
          document.querySelector('#PovOUT').value = povOUT;
          CHPS()
        }

        function outputUpdate3(disableOUT) {
          document.querySelector('#disableOUT').value = disableOUT;
          CHPS()
        }

        function outputUpdate4(nohighOUT) {
          document.querySelector('#nohighOUT').value = nohighOUT;
          CHPS()
        }

        function CHPS(){
          var PCI = document.getElementById('PCI').value;
          var Pov = document.getElementById('Pov').value;
          var Disable = document.getElementById('Disable').value;
          var NoHigh = document.getElementById('NoHigh').value;
          var pciOUT = document.getElementById('pciOUT').value;
          var povOUT = document.getElementById('PovOUT').value;
          var disableOUT = document.getElementById('disableOUT').value;
          var nohighOUT = document.getElementById('nohighOUT').value;
          var Total = ((PCI * 7.25585498e-05) + (Pov * -9.40529424e-02) + (Disable * -1.60870035e-01) + (NoHigh * -6.63473095e-02) + 81.07456508385704).toFixed(2);

          // Total = Total.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",");
          document.getElementById('Total').innerHTML = "Life Expectancy = "+ Total +" years";
        }
      </script>
      <div class="row whitespace"></div>
    </div>
  </section>
  </div>
  <div class="footer">Brought to you by Team Morbid Curiosity in the 2019 GW Analytics & Visualization Bootcamp.</div>
  <!-- libraries -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://cdn.plot.ly/plotly-1.31.2.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/5.5.0/d3.js"></script> <!-- chart.js -->
  <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>

  <!-- main visualizations -->

  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-slider/10.6.1/bootstrap-slider.js"></script>
  <!-- <script src="{{ url_for('static', filename='js/app.js') }}"></script> -->

  <script src="static/js/scatter.js"></script>
  <script src="static/js/radar.js"></script> 
  <script src="static/js/map.js"></script>
  <!-- gauges -->
  <script src="{{ url_for('static', filename='js/test.js') }}"></script>
  <script src="{{ url_for('static', filename='js/GAUGE-lifeExpectancy.js') }}"></script>
  <script src="{{ url_for('static', filename='js/GAUGE-Income.js') }}"></script>
  <script src="{{ url_for('static', filename='js/GAUGE-Education.js') }}"></script>
  <script type="text/javascript" src="static/js/choropleth.js"></script>
  <!-- fancy gauge CDNs -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/justgage/1.2.9/justgage.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/justgage/1.2.9/justgage.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/justgage/1.2.9/justgage.min.js.map"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/raphael/2.1.1/raphael-min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/raphael/2.1.1/raphael.js"></script>
  <!-- Custom scripts for the 'navigate' section template code -->
  <script src="js/agency.min.js"></script>
  <!-- text showing up underneath gauges -->
  <script src="{{ url_for('static', filename='js/text.js') }}"></script>
  <script src="static/js/sweetalert2.all.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/limonte-sweetalert2/7.29.2/sweetalert2.all.js"></script>

</body>

</html>
