/* stylin' */

/* ======================================
Google fonts for reference:
font-family: 'Roboto', sans-serif;
font-family: 'Open Sans', sans-serif;
font-family: 'Bree Serif', serif;
====================================== */


/* ======================================
 Tag Data
 ====================================== */
h1 {
    font-family: 'Open Sans', sans-serif;
    font-size: 50px;
    color: black;
}

h2 {
    font-family: 'Bree Serif', serif;
    font-size: 30px;
    text-align: center;
    font-weight: bold;
    color: rgb(235, 45, 31);
}

h3 {
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    text-align: center;
    color: rgb(34, 33, 33);
}

p {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    text-align: center;
    color: rgb(34, 33, 33);
    display: block;
}

/* ======================================
 Class Data
 ====================================== */

.team-name {
    font-family: 'Bree Serif', serif;
    font-size: 24px;
    color: rgb(235, 45, 31) !important;
}

.navbar {
    background-color:transparent !important; 
}

.jumbotron {
    background-color:transparent !important; 
    font-family: 'Open Sans', sans-serif;
    font-size: 50px;
    color: black;
}

.bottom-border {
    border-bottom: 1px solid rgb(223, 219, 219);
    margin-bottom: 10px;
}

.footer {
    margin: 20px
}
/* ======================================
 ID Data
 ====================================== */

#sample-metadata
{
    font-family: 'Open Sans', sans-serif !important;
}